//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic,cyrillic-ext');
@bg: #fba43b;
@import "reset.less";
body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.header{
  padding: 10px;
  background: @bg;
}

.logo{
  &-img{
    @wh: 300px;
    @bi: url('/img/logo.png');
    width: @wh;
    height: 183px;
    background-image: @bi;
    -webkit-background-image: @bi;
    -moz-background-image: @bi;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
}